/*.main-contianer {
    flex-direction:column;
    flex: 1 1 auto;
}

.main-contianer img {
    width: 50px;
    height: 50px;
    margin-right: auto; 


}
.head-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 24px; 
    color:#F9FAF8; 
}

.header-logo {
    gap: 10;
}

.head-container div {
    color: #E5E7EB;
    background-color: blue;
    font-size: 18px;
    flex:1 1 0;
    width: 25x;
}*/
html{
    min-height: 100%;
    position:relative;
  }

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /*height:700px;
    width: 1500px;*/
    background:linear-gradient(
        to bottom,
        darkgrey 0%,
        darkgrey 50%,
        red 50%,
        red 75%,
        yellow 75%,
        yellow 100%
    );

}

.flexbox-container {
    display:flex;
    flex-direction: column;
    flex: 1 1 1;
    height: 100%;
    padding: 0%;
    margin: 0%;
}


.flexbox-item {
    padding: 0%;
    margin: 0%;
}

.flexbox-item-1 {
    min-height: 28%;
    min-width: 500px;
  /*  background-color: darkgrey;*/
    flex-basis: 30%;
} 
.flexbox-item-2 {
    min-height: 28%;
   /*  background-color: white;*/
    flex-basis: 30%;
    min-width: 500px;

}
.flexbox-item-3 {
    min-height: 28%;
   /*  background-color: lightgrey;*/
    flex-basis: 30%;
    min-width: 500px;

}
.flexbox-item-4 {
    min-height: 20%;
   /*  background-color: white;*/
    min-width: 500px;
}

.flexbox-item-5 {
    min-height: 5%;
   /*  background-color: black;*/
    min-width: 500px;
  
}