/*.main-contianer {
    flex-direction:column;
    flex: 1 1 auto;
}

.main-contianer img {
    width: 50px;
    height: 50px;
    margin-right: auto; 


}
.head-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 24px; 
    color:#F9FAF8; 
}

.header-logo {
    gap: 10;
}

.head-container div {
    color: #E5E7EB;
    background-color: blue;
    font-size: 18px;
    flex:1 1 0;
    width: 25x;
}*/
body{
    height: 200px;
    width: 200px;
    background:linear-gradient(to bottom,darkgrey 0%, darkgrey 30%,white 30%,white 60%, lightgrey 60%,lightgrey 90%,white 90%,white 100%);

}
/*
.flexbox-container {
    display:flex;
    flex-direction: column;
    flex: 1 1 1;
    height: 100%;
    padding: 0%;
    margin: 0%;
}


.flexbox-item {
    border: 3px solid black;
    padding: 0%;
    margin: 0%;
}

.flexbox-item-1 {
    min-height: 250px;
    background-color: darkgrey;
    flex-basis: 30%;
} 
.flexbox-item-2 {
    min-height: 250px;
    background-color: red;
    flex-basis: 30%;
}
.flexbox-item-3 {
    min-height: 250px;
    background-color: lightgrey;
    flex-basis: 30%;
}
.flexbox-item-4 {
    min-height: 100px;
    background-color: white;
   
}*/